.grid-container {
  width: 90vw;
  margin: 60px auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
  align-items: stretch;
}
.grid > article {
  /* border: 1px solid #ccc; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.grid .text {
  padding: 20px;
  text-align: center;
}
.about-heading {
  text-align: center;
  /* color: rgb(114, 110, 110); */
  /* font-size: 4rem; */
}
.about-icons {
  margin: 10px 10px;
  font-size: 3rem;
}
