.header_container {
  padding: 20px 20px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background: #e65c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f9d423,
    #e65c00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
      109.6deg,
      rgba(249, 249, 147, 1) 11.2%,
      rgba(252, 84, 84, 1) 91.1%
    ),
    url("headerImg.jpg");
  /* background: linear-gradient(to right, #f9d423, #e65c00), url("headerImg.jpg"); */
}
.header_greetings {
  margin: 10px;
  padding: 10px 30px;
}
.header_greetings > h2 {
  color: #080708;
  text-align: center;
  font-size: 1.8rem;
}
.header_greetings > p {
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
}
.headerImg_container {
  position: relative;
  width: 150px;
  height: 150px;
  /* border-radius: 50%; */
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.header_img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  /* border-radius: 50%; */
}
.addBtn {
  background-color: brown;
}
