* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
/* Scroll bar */
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-thumb {
  background-color: #54a81c;
  background-image: linear-gradient(125deg, #54a81c 0%, #9cd608 100%);
  border-radius: 10px;
}
/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #54a81c;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-family: "Noto Sans SC", sans-serif;
}

h2 {
  font-size: 1.6rem;
  font-family: "Noto Sans SC", sans-serif;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.85rem;
}

h6 {
  font-size: 0.5rem;
}
